p.card_author a:hover {
    font-weight: bold;
}

a.read_more {
    color: #FFF;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1.1px;
    background: #0F1616;
    margin-top: 50px;
    padding: 24px 0px;
    border-radius: 15px;
    display: inline-block;
    width: 70%;
    transition: all .3s ease-in-out;
}

a.read_more:hover {
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.15);
    background: #404040;
}

.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -106px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}

@media only screen and (max-width: 1441px) and (min-width: 1025px) {
    .container {
        max-width: 80%;
    }

    .grid {
        gap: 2%;
    }

    .card {
        padding: 15px;
    }

    .card_body {
        padding: 15px;
    }

    .card_title {
        font-size: 22px;
        padding-bottom: 14px;
    }

    .card_body p {
        font-size: 16px;
    }

    a.read_more {
        padding: 19px 0;
        width: 60%;
        font-size: 11px;
        margin-top: 30px;
    }

}

@media only screen and (max-width: 1024px) {

    .grid {
        grid-template-columns: 1fr;
        gap: 2%;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        max-width: 90%;
    }

    .card {
        padding: 20px 10px;
    }

    .card_body {
        padding: 7px;
    }

    .card_title {
        font-size: 20px;
        padding-bottom: 7px;
    }

    .card_body p {
        font-size: 14px;
    }

    a.read_more {
        padding: 15px 0;
        margin-top: 20px;
    }

}
.cv-download-button {
  padding: 10px 20px;
  background-color: #00a6ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}